.Header {
    width: 100%;
    position: fixed;
    z-index: 2;
}

.HeaderGroup {
    max-width: 80rem;
    margin: 0rem auto 0;
    padding: 3rem 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 2rem;
    grid-template-areas:
    'logo . A1 A2';
}